In [1]:
# Import the libraries

import pandas as pd
import numpy as np
import joblib
import matplotlib.pyplot as plt

# ML libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

# metrics
from sklearn import metrics
from sklearn.metrics import r2_score

# Import the dataset
data = pd.read_csv('data/quote.csv')

In [2]:
data.head()

   Ins_Age  Ins_Gender          Wt  meters    BMI  quote
0       31           1   83.914520  1.5494  34.96      0
1       35           1   92.986360  1.5494  38.73      1
2       45           0   56.699000  1.5494  23.62      0
3       38           1   79.378600  1.5240  34.18      0
4       39           0  114.305184  1.8288  34.18      0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ins_Age     100 non-null    int64
 1   Ins_Gender  100 non-null    int64
 2   Wt          100 non-null    float64
 3   meters      100 non-null    float64
 4   BMI         100 non-null    float64
 5   quote       100 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 4.8 KB

In [4]:
y=data.quote
X=data.drop(['quote'],axis=1)

In [5]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [6]:
model = RandomForestClassifier(n_estimators = 100, random_state = 0, criterion='entropy', max_depth=3, max_features=5)
model.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=3, max_features=5,
                       random_state=0)

In [7]:
# Predicting the Test set results
y_pred = model.predict(X_test)

In [8]:
model.score(X_test,y_test)

0.95

In [9]:
# Predicting the sigle observation results.
test_applicant = [38,1,83.91,1.5494,34.96]
df = pd.DataFrame([test_applicant], columns=['Ins_Age','Ins_Gender','Wt','meters','BMI'])
y_pred_single_obs = model.predict(df)
y_pred_single_obs[0]

0

In [10]:
#Saving the model
joblib.dump(model, "insurance_quote_model.pkl")

['insurance_quote_model.pkl']

In [11]:
# testing the model through the pickle file
test_applicant = [38,1,83.91,1.5494,34.96]
df = pd.DataFrame([test_applicant], columns=['Ins_Age','Ins_Gender','Wt','meters','BMI'])
ins_quote = open("insurance_quote_model.pkl","rb")
ml_model = joblib.load(ins_quote)
model_prediction = ml_model.predict(df)

model_prediction[0]

0